/* Admin Page Styles */
.admin-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    background-color: #f4f7fc;
    height: 100vh;
  }
  
  .login-form, .add-product-form {
    background-color: #64c515;
    border-radius: 8px;
    padding: 20px;
    width: 100%;
    max-width: 500px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  h2, h1 {
    text-align: center;
    font-family: 'Arial', sans-serif;
    color: #333;
  }
  
  .input-field, .select-field, .file-input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  .input-field:focus, .select-field:focus {
    border-color: #5c6bc0;
    outline: none;
  }
  
  .submit-btn, .remove-btn, .status-btn {
    background-color: #5c6bc0;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px 0;
    transition: background-color 0.3s ease;
  }
  
  .submit-btn:hover, .remove-btn:hover, .status-btn:hover {
    background-color: #3f4c87;
  }
  
  .manage-products ul {
    list-style-type: none;
    padding: 0;
  }
  
  .product-item {
    background-color: #fff;
    padding: 15px;
    margin: 10px 0;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  .product-item h3 {
    margin-top: 0;
    font-size: 1.2rem;
    font-weight: bold;
  }
  
  .product-item p {
    font-size: 0.9rem;
    color: #555;
  }
  
  .remove-btn {
    background-color: #e57373;
  }
  
  .remove-btn:hover {
    background-color: #d32f2f;
  }
  