/*!*******************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[3]!./app/signup/signup.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************/
/* signup.css */
.form-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 25px;
    background-color: #fff;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    text-align: center;
    font-family: 'Arial', sans-serif;
}

h1 {
    font-size: 2rem;
    margin-bottom: 25px;
    color: #333;
}

.input-field {
    margin-bottom: 20px;
    text-align: left;
}

.input-field label {
    display: block;
    font-size: 1rem;
    margin-bottom: 6px;
    color: #555;
    font-weight: 600;
}

.input-field input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 6px;
    font-size: 1rem;
    color: #333;
    transition: border-color 0.3s ease;
}

.input-field input:focus {
    outline: none;
    border-color: #ff5722;
    box-shadow: 0 0 5px rgba(255, 87, 34, 0.5);
}

button {
    width: 100%;
    padding: 12px;
    border: none;
    background-color: #ff7f50; /* Orange */
    color: #fff;
    font-size: 1rem;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
    font-weight: bold;
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

button:hover:not(:disabled) {
    background-color: #ff5722; /* Darker Orange */
    box-shadow: 0 3px 8px rgba(255, 87, 34, 0.2);
}

.error-message {
    color: #d32f2f; /* Red */
    font-size: 0.875rem;
    margin-bottom: 20px;
    text-align: left;
    font-weight: 600;
}

.form-link {
    color: #ff5722;
    cursor: pointer;
    text-decoration: underline;
    font-size: 0.875rem;
    font-weight: 500;
}

.form-link:hover {
    text-decoration: none;
    color: #e64a19;
}

.form-container p {
    margin-top: 15px;
    color: #666;
    font-size: 0.9rem;
}

